@import 'tailwindcss';

@theme {
  --font-sans: 'Roboto Mono', monospace;
}

@utility h-screen {
  height: 100dvh;
}

@layer components {
  input {
    @apply w-46 rounded-full bg-yellow-100 px-4 py-2 text-sm transition-all duration-300 outline-none placeholder:text-stone-400 focus:ring-2 focus:ring-yellow-500 focus:ring-offset-0 sm:w-64 sm:focus:w-72;
  }
}

/* https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */
.loader {
  width: 45px;
  aspect-ratio: 0.75;
  --c: no-repeat linear-gradient(theme(--color-stone-800) 0 0);
  background:
    var(--c) 0% 50%,
    var(--c) 50% 50%,
    var(--c) 100% 50%;
  background-size: 20% 50%;
  animation: loading 1s infinite linear;
}

@keyframes loading {
  20% {
    background-position:
      0% 0%,
      50% 50%,
      100% 50%;
  }
  40% {
    background-position:
      0% 100%,
      50% 0%,
      100% 50%;
  }
  60% {
    background-position:
      0% 50%,
      50% 100%,
      100% 0%;
  }
  80% {
    background-position:
      0% 50%,
      50% 50%,
      100% 100%;
  }
}
